<section class="property-binding">
  <article>
    <h3> Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é {{ 1+1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValue() }}</p>
    <p>Curso de Angular e gosto do curso: {{ angularCourse && likeCourse() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ imageURL }}" alt="" />
    <!--
      Os colchetes servem como um helper para o que de fato o Angular faz,
      explicitado na linha 18.
    -->
    <img [src]="imageURL" alt="" />
    <img bind-src="imageURL" alt="" />
  </article>
</section>
